* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

.image-container {
    width: 50%;
    background-image: url('img/Cidade.svg');
    /* Coloque o caminho correto da imagem */
    background-size: cover;
    background-position: center;
    height: 100%;
}

.login-box {
    background-color: rgba(255, 255, 255, 0.9);
    /* Fundo branco */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    margin: auto;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.login-box p {
    margin-bottom: 20px;
    font-size: 14px;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #555;
}

.remember-me {
    text-align: left;
    margin-bottom: 10px;
}

.remember-me label {
    font-size: 12px;
}

a {
    font-size: 12px;
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}